@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&family=Roboto:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
  background-color: #8daae5;
  font-family: "arial", sans-serif;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: start;
      align-content: start;
  max-width: 1000px;
  min-height: 100vh;
  margin: 0 auto;
  font-size: 2rem;
  background-color: white;
  -webkit-box-shadow: 0 0 4px 0 black;
          box-shadow: 0 0 4px 0 black;
}

.logo {
  -ms-flex-preferred-size: 200px;
      flex-basis: 200px;
}
.logo__image {
  display: block;
  width: 100%;
}

.search {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 799px) {
  .search {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    margin: 10px 0 0;
  }
}
.search__input {
  -ms-flex-preferred-size: 60%;
      flex-basis: 60%;
  height: 50%;
  max-height: 60px;
  min-height: 50px;
  padding: 0 10px;
  margin-right: 2vh;
  font-size: 1.4rem;
}
.search__input:focus {
  -webkit-box-shadow: 0 0 2px 1px #8daae5;
          box-shadow: 0 0 2px 1px #8daae5;
  font-weight: bold;
}
.search__btn {
  height: 50%;
  max-height: 60px;
  min-height: 50px;
  padding: 0 10px;
  font-size: 1.4rem;
  border: 2px solid black;
  background-color: #fff;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.search__btn:hover {
  background-color: black;
  color: white;
}

.settings {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 30px 0 50px;
}
@media (max-width: 799px) {
  .settings {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
.settings__icon-link {
  margin: 0 5px;
  color: #555;
  font-size: 3rem;
}
.settings__icon-link:hover {
  color: black;
}

.menu {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  height: 70px;
  margin-top: 10px;
  background-color: rgb(27, 27, 29);
  font-family: "pt sans", "roboto", "arial", sans-serif;
  padding: 15px 50px 15px 80px;
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}
.menu__item {
  font-size: 2rem;
  text-transform: uppercase;
  line-height: 4rem;
  margin: 0 20px;
}
.menu__item:hover {
  border-bottom: 2px solid white;
}
.menu__item:nth-last-child(1) {
  margin-left: auto;
  border: 2px solid #777;
}
.menu__item:nth-last-child(1):hover {
  border-color: white;
}
.menu__item:nth-last-child(1) .menu__link {
  padding: 0 22px;
}
.menu__link {
  display: block;
  color: white;
  text-decoration: none;
  letter-spacing: 1px;
}

.article {
  padding: 30px 50px;
  color: #333;
  text-align: center;
}
.article--small {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
  padding: 20px 10px;
}
@media (max-width: 1023px) {
  .article--small {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
  }
}
@media (max-width: 799px) {
  .article--small {
    -ms-flex-preferred-size: 95%;
        flex-basis: 95%;
  }
}
.article__image {
  display: block;
  width: 100%;
}
.article__title {
  padding: 15px 0 10px;
  font-family: "pt sans", "roboto", "arial", sans-serif;
  font-size: 3rem;
  text-transform: uppercase;
}
.article--small .article__title {
  font-size: 1.8rem;
  background-color: #8daae5;
}
.article__introduction {
  line-height: 1.6;
  font-size: 1.6rem;
}
.article__btn {
  display: block;
  width: 50%;
  min-width: 150px;
  margin: 10px auto;
  padding: 6px 12px;
  text-transform: uppercase;
  border: 2px solid black;
  font-size: 1.8rem;
  background-color: #8daae5;
  text-decoration: none;
  color: black;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.article__btn:hover {
  background-color: white;
}

.main-articles {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #8daae5;
}
.main-articles__intro {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  margin: 60px 0 30px;
  padding: 5px;
  text-align: center;
  font-size: 4.4rem;
  background-color: rgba(0, 0, 0, 0.2);
  color: white;
  letter-spacing: 2px;
}
.main-articles .article {
  -ms-flex-preferred-size: 50%;
      flex-basis: 50%;
}
@media (max-width: 799px) {
  .main-articles .article {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
  }
}

.article-list {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  background-color: #8daae5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 20px 0;
}
.footer .sm-links {
  -ms-flex-preferred-size: 30%;
      flex-basis: 30%;
}

.sm-links {
  font-family: "arial", sans-serif;
  color: blanchedalmond;
}
.sm-links__title {
  margin: 20px 0 30px;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 400;
}
.sm-links__item {
  text-indent: 40px;
  font-size: 1.8rem;
}
.sm-links__item--darken {
  color: #341f00;
}/*# sourceMappingURL=main.css.map */